#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
	mkdir -p debian/tmp/usr/share/bash-completion/completions
	install -Dpm644 ./argcomplete/bash_completion.d/_python-argcomplete debian/tmp/usr/share/bash-completion/completions/python-argcomplete
	find debian/tmp/usr/lib/python*/*-packages -type f -name '*.pyc' -exec rm -rf {} \;
	fdupes -qnrps debian/tmp/usr/lib/python*/*-packages

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@ --buildsystem=pybuild --with python3
